:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --icon-color: #afb1b8;
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}
