.contacts {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.contacts__item {
  display: block;
  @include fonts(500, 24px, 1.17, 0.02em);
  fill: var(--main-text-color);

  @media screen and(min-width:768px) {
    @include fonts(500, 12px, 1.17, 0.02em);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and(min-width:1200px) {
    @include fonts(500, 14px, 1.14, 0.02em);

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contacts__item:last-child {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
    @include fonts(500, 34px, 1.18, 0.02em);
    color: var(--accent-color);
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
