.footer {
  background-color: var(--footer-bg-color);
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__block {
  text-align: center;
  padding-top: 60px;

  &:last-child {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);

    &:last-child {
      flex-basis: calc((50% - 1 * 30px) / 1);
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((50% - 45px) / 2);
    text-align: start;

    &:not(:first-child) {
      padding-top: 72px;
    }

    &:last-child {
      flex-basis: calc(50% - 15px);
      margin: 0;
    }
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__socials {
  margin-top: 0;
}

.footer__address {
  margin-bottom: 8px;
  font-style: normal;
  color: var(--hero-text-color);

  @media screen and(min-width:1200px) {
    margin-bottom: 9px;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-family: inherit;
  @include fonts(700, 14px, 1.14);
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.contact-list__item {
  color: rgba(255, 255, 255, 0.6);

  &:not(:last-child) {
    margin-bottom: 8px;

    @media screen and(min-width:1200px) {
      margin-bottom: 9px;
    }
  }
}
