.portfolio {
  @include fonts(400, 16px, 1.87);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
  }
}

.portfolio__item {
  margin-top: 30px;
  border: 1px solid #eeeeee;
  border-top: none;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    text-align: center;
  }
}
